.card-list-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 24px;
    padding-left: 39px;
    background-color: var(--body_bg);
}