header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
//   background-color: #e49191;
  height: 100px;
  // box-shadow: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  .header-right {
    display: flex;
    align-items: center;
  }
  .header-left {
    display: flex;
    align-items: center;
    column-gap: 32px;
    button {
      width: 139px;
      height: 48px;
      border-radius: 6px;
      background: #41b64d;
      color: #fff;
      // outline: 0;
      border: 0;
    }
  }
}
