.info-main {
  background-color: var(--body_bg);
  .back-icon {
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 13px;
    font-size: 15px;
    line-height: 19px;
    color: var(--text);
    padding: 41px 0 41px 44px;
    svg{
      stroke: var(--text);
    }
  }
  .info-main_content {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 70px 40px;
    .info-main_content__book-photo {
      background-color: var( --main_cards_bg);
      border-radius: 10px;
      &:first-child {
        padding: 24px 32px 0 24px;
      }
      .social-status {
        padding: 36px 0 31px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        .pending{
          color: var(--text);
          svg{
            stroke: var(--text);
          }
        }
        .noting{
          color: var(--text);
          svg{
            stroke: var(--text);
          }
        }
        .shareing{
          color: var(--text);
          svg{
            stroke: var(--text);
          }
        }
      }
    }
    .info-main_content__book-info {
      // background-color: #e0e462;
      .book-info_content {
        .book-title {
          font-family: Inter;
          font-style: Regular;
          font-size: 35px;
          line-height: 45px;
          color: var(--text);
          padding-bottom: 18px;
        }
        .book-author {
          font-size: 15px;
          line-height: 18px;
          color: var(--text);
          padding-bottom: 5px;
          span {
            text-decoration: underline;
          }
        }
        .edition {
          color: var(--text);
          padding-bottom: 20px;
        }
        .book-rating {
          display: flex;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: var(--text);
          padding-bottom: 30px;
          .stars {
            padding-right: 10px;
          }
          .rating {
            padding-right: 20px;
          }
          // .reading {
          //   // background-color: #fff;
          // }
        }
        .availability-and-status {
          display: flex;
          column-gap: 45px;

          .availability {
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
            color: var(--text);

            // display: flex;
            // flex-direction: column;
            .copy {
              display: flex;
              align-items: center;
              column-gap: 8px;
              font-weight: 500;
              font-size: 15px;
              line-height: 23px;
              color: var(--text);
              padding: 11px 0 8px 0;
              svg {
                fill: var(--title);
              }
            }
            .e-book {
              display: flex;
              align-items: center;
              column-gap: 8px;
              font-weight: 500;
              padding-bottom: 8px;
              svg{
                fill: var(--title);
              }
            }
            .audio-book {
              display: flex;
              align-items: center;
              column-gap: 8px;
              font-weight: 500;
              padding-bottom: 8px;
              svg{
                fill: var(--title);
              }
            }
          }
          .status {
            // display: flex;
            font-weight: 900;
            font-size: 14px;
            line-height: 17px;
            color: var(--text);
            div:first-child {
              width: 85px;
              height: 26px;
              border-radius: 5px;
              background-color: #42bb4e;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #fff;
              font-weight: 500;
              margin: 16px 0 13px 0;
            }
            .location {
              display: flex;
              column-gap: 5px;
              font-weight: 500;
            }
          }
        }
        .btns{
            font-size: 20px;
            line-height: 12px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            column-gap: 38px;
            box-sizing: border-box;
            margin-top: 45px; 
            & > div{
                width: 209px;
                height: 61px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .borrow{
                background-color: #F27851;
            }
            .read-more{
                column-gap: 29px;
                background-color: #41B64D;
                p{
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   position: relative;
                }
                p::after{
                    position: absolute;
                    content: "";
                    right: -15px;
                    width: 2px; 
                    height: 61px;  
                    display: inline-block; 
                    background-color: #FFF;
                }
            }
        }
      }
    }

    .info-main_content_book-author {
      background-color:  var(--main_cards_bg);
      width: 445px;
      height: 300px;
      padding: 30px;
      border-radius: 10px;
      .author-title-name-photo {
        display: flex;
        justify-content: space-between;
        .title-author-name {
          .title {
            font-family: Inter;
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            color: var(--text);
            padding-bottom: 20px;
            span {
              color: var(--title);
              }
            }
            .author-name{
              // color: red;
              color: var(--text);
          }
        }
      }
      .text{
        color: var(--text);
      }
    }
  }
  .info-description {
    padding: 70px 40px 90px 40px;
    .info-description_content {
      padding: 30px;
      background-color: var(--main_cards_bg);
      border-radius: 10px;
      .description-title {
        width: 138px;
        height: 29px;
        font-family: Inter;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        color: var(--title);
      }
      p {
        padding-top: 30px;
        color: var(--text);
      }
    }
  }
  h4 {
    font-family: Inter;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    color: var(--text);
    padding-left: 60px;
    span {
      color: var(--title);
    }
    // padding-bottom: 30px;
  }
  .info-cards {
    display: flex;
    // column-gap: 38px;
    justify-content: space-around;
    padding: 30px 40px 175px 40px;
    .info-card {
      background-color: var(--main_cards_bg);
      padding: 15px;
      border-radius: 10px;
      .info-card_context {
        img {
          width: 130px;
          height: 170px;
        }
        .info-card_context__text{
          h5{
            font-size: 12px;
            font-weight: 200;
            color: var(--text)
          }
          h6{
            font-weight: 200;
            color: var(--title)
          }
          p{
            font-size: 12px;
            color: var(--text)
          }
        }
      }
    }
  }
}
