.card-list-item-wrapper{
        width: 237px;
        background-color: var(--main_cards_bg);    
        border-radius: 10px;
        box-sizing:border-box;
    .card-list-item-content{
        display: flex;
        flex-direction: column;
        padding: 16px 24px;
        .title{
            font-family: Inter;
            font-style: Regular;
            font-size: 20px;
            line-height: 26px;
            color: var(--text);
            padding: 12px 0 5px 0;
        }
        .author{
            font-family: Inter;
            font-style: Regular;
            font-size: 16px;
            line-height: 21px;
            color: var(--title);
            padding-bottom: 5px;
        }
        .rating{    
            display: flex;
            align-items:center;
            justify-content: center;
            font-size: 14px;
            line-height: 18px;
            color: var(--text);
            // background-color: #fff;
            span{
                color:rgba(167, 167, 167, 1);
            }
            svg{
                stroke: var(--text);
                margin-left: 134px;
            }
        }
        .btns{
            display: flex;
            column-gap: 17px;
            a{
                width: 86px;
                height: 25px;
                border-radius: 5px;
                border: 0;
                font-family: Inter;
                font-style: 600;
                font-size: 12px;
                line-height: 16px;
                margin: 30px 0 4px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                text-decoration: none;
                color: var(--text);
              
            }
            a:nth-child(odd){
                color: var(--title);
                background-color:var(--card_btn_sec);   
            }
            a:nth-child(even){
                color: var(--text);
                background-color:var(--card_btn_pri);
            }
        }
    }
}
