.card-list-item-wrapper{
        width: 237px;
        background-color: #4ae3a385;    
        border-radius: 10px;
        box-sizing:border-box;
    .card-list-item-content{
        display: flex;
        flex-direction: column;
        padding: 16px 24px;
        .title{
            font-family: Inter;
            font-style: Regular;
            font-size: 20px;
            line-height: 26px;
            color: #2B3844;
            padding: 12px 0 5px 0;
        }
        .author{
            font-family: Inter;
            font-style: Regular;
            font-size: 16px;
            line-height: 21px;
            color:#41B64D;
            padding-bottom: 5px;
        }
        .rating{    
            font-size: 14px;
            line-height: 18px;
            color: rgba(77, 77, 77, 1);
            span{
                color:rgba(167, 167, 167, 1);
            }
            img{
                padding-left: 134px;
            }
        }
        .btns{
            display: flex;
            column-gap: 17px;
            a{
                width: 86px;
                height: 25px;
                border-radius: 5px;
                border: 0;
                font-family: Inter;
                font-style: 600;
                font-size: 12px;
                line-height: 16px;
                color: #F8FAFC;
                margin: 30px 0 4px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                text-decoration: none;
            }
            a:nth-child(odd){
                background-color:#2B3844;
            }
            a:nth-child(even){
                background-color:#41B64D;
            }
        }
    }
}
