header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #141D2F;
   height: 40px;
   margin-bottom: 35px;
   .header-right{
        font-weight: 900;    
        font-size: 26px;
        color: #FFFFFF;
   }
   .header-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-left_content{
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 16px;
        .header-left_content__text{
            // width: 50px;
            height: 18px;
            font-weight: 900;
            font-size: 13px;
            letter-spacing: 2.5px;
            color: #90A4D4;
            text-transform: uppercase;
            }
        }
   }
}